body {
    height: auto;
}

.large {
    font-family: arial;
    font-size: 40px;
        
}

.centered {
 text-align: center;
 font-style: italic;
}

.regular {
    font-weight: 100;
}

#anchor {
    top: 3000px;
    position: absolute;
}

#letterspace {
    letter-spacing: 20px;
}

#rotate {
    right: 10px;
    top: 30px;
    position: fixed;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    
}

.float1 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: dotted;
}

.float2 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: solid;
}

#capitalize {
   text-transform: uppercase;
   clear: both;
}

#lineheight {
    line-height: 10px;
    clear: both;
}

.title {
    padding: 400px;
}

.title a {
    color: #ccc;
}

#title-anchor {
    color: #ccc;
}

#patria-anchor {
    color: #ccc;
}


.level2v2 {
    width: 400px;
    text-align: justify;
    padding: 150px;
}

.level2v3 {
    width: 400px;
    text-align: justify;
    padding: 200px;

}

.level2v3 h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: lowercase;
    text-align: left;
    line-height: 90%
}

.level2v3 h2 {
    font-size: 14px;
    font-weight: lighter;
    padding-bottom: 20px;
    letter-spacing: 2px;
    margin-top: -25px;
    text-transform: lowercase;
}

.level2v3poem {
    height: 20px;
    overflow: auto;
}


.level2v4 {
    width: 500px;
    text-align: left;
    text-transform: lowercase;

}

.l2v5-line {
    width: 500px;
    padding: 400px;
    text-align: center;
}

#titlel2v5 {
    text-transform: uppercase;
    font-size: 20px;
    right: 200px;
    top: 100px;
    position: fixed;
    text-align: right;

}

.level3v1 {
    width: 500px;
    margin-top: 23%;
}

.l3v1-title {
    width: 300px;
    height: 25px;
    font-size: 20px;
    font-family: 'Roboto', pt sans, lucida sans, arial, sans-serif; 
    letter-spacing: 3px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    position: relative;
    text-transform: uppercase;


}

.l3v1-author {
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-family: 'Roboto', pt sans, lucida sans, arial, sans-serif; 
    letter-spacing: 3px;
    padding: 20px;
    background-color: #fff;
    color: #000;
    opacity: 0;
    position: absolute;
    margin-top:-46px;
    margin-left: -20px;

}


.l3v1-title:hover .l3v1-author {
    -webkit-transition: 0.7s ease; 
    -ms-transition: 0.7s ease; 
    -o-transition: 0.7s ease; 
    -moz-transition: 0.7s ease; 
    transition: 0.7s ease; 
    opacity: 1;

}

.l3v1-poem {
    width: 300px;
    text-align: justify;
    margin-top: 70%;
}

.l3v1-poem b {
    background-color: #000; 
    color: #fff; 
    padding: 5px; 
    font-family: 'Roboto', pt sans, lucida sans, arial, sans-serif; 
    font-size: 7px; 
    letter-spacing: 1px; 
    font-weight: bold;  
    text-transform: uppercase;
    line-height: 900%;
}



.l3v2-base { 
    width: 330px; 
    background-color: #fff; 
    border: 1px solid #f1f1f1;
    margin-top: 5%;
}

.l3v2-txt { 
    padding: 50px; 
    text-align: justify; 
    font-family: 'Roboto', pt sans, lucida sans, arial, sans-serif; 
    font-size: 9px; 
    letter-spacing: 1px; 
    color: #ccc; 
    line-height: 170%; 
    font-weight: normal; 
    text-transform: lowercase; 
}

.l3v2-title { 
    padding-bottom: 10px;  
    font-family: 'Roboto', pt sans, lucida sans, arial, sans-serif; 
    font-size: 7px; letter-spacing: 1px; 
    font-weight: bold; 
    text-align: left; 
    line-height: 120%; 
    text-transform: uppercase; 
    border-bottom: 4px solid #000; 
    color: #000; }






#l3v3 { 
    width: 570px; 
    height: 700px; 
    padding: 20px; 
    position: relative;
    margin-top: 5%;}

#l3v3tag { 
    width: 190px; 
    float: left; }

#l3v3tag img { 
    height: 60px; 
    width: 60px; 
    border: solid 1px #eee; 
    background-color: #fff; 
    padding: 10px; }

#l3v3tag .tag { 
    margin-top: 20px; 
    text-align: right; }

#l3v3main { 
    width: 300px; 
    padding: 30px; 
    background-color: #fff; 
    border: solid 1px #eee; 
    float: right; 
    text-align: justify; 
    font-family: 'Roboto', pt sans, lucida sans, arial, sans-serif; 
    font-size: 9px; 
    letter-spacing: 1px; 
    color: #ccc; 
    line-height: 170%; 
    font-weight: normal; 
    text-transform: lowercase; }


#l3v3main b { 
    color: #000; }

#l3v3main .notes { 
    margin-top: 20px; 
    font-family: 'Roboto', pt sans, lucida sans, arial, sans-serif; 
    font-size: 7px; 
    letter-spacing: 1px; 
    font-weight: bold; 
    text-align: right; 
    line-height: 120%; 
    text-transform: uppercase; 
    color: #000; }

#l3v3 .l3v3text { 
    background-color: #000; 
    font-family: 'Roboto', pt sans, lucida sans, arial, sans-serif; 
    font-size: 7px; 
    font-weight: bold;  
    text-transform: uppercase; 
    padding: 5px; 
    letter-spacing: 2px; 
    color: #fff; 
    text-align: right; }

#l3v3main .l3v3text b { 
    color: #ccc; }



#l4v1 { 
    height: 350px; 
    width: 350px; 
    border: solid 1px #fff; 
    overflow: hidden; }

.l4v1txt { 
    height: 190px; 
    width: 190px; 
    padding: 80px; 
    background: rgba(0,0,0,0.3); 
    text-align: justify; 
    font-family: 'Roboto', pt sans, lucida sans, arial, sans-serif; 
    font-size: 7px; 
    letter-spacing: 1px; 
    font-weight: bold; 
    line-height: 250%; 
    text-transform: uppercase; 
    color: #fff; 
    overflow: hidden; 
    position: relative; 
    left: 0px; 
    top: 0px; 
    transition-: 0.7s all ease-in-out; 
    -webkit-transition: 0.7s all ease-in-out; 
    -moz-transition: 0.7s all ease-in-out; 
    -o-transition: 0.7s all ease-in-out; 
    -ms-transition: 0.7s all ease-in-out; }

#l4v1:hover .l4v1txt{ 
    top: -350px; }

.l4v1criess {
    height: 250px; 
    width: 250px; 
    padding: 50px; 
    color: #000; 
    background: #fff; 
    position: relative; 
    left: 0px; 
    bottom: 0px; 
    transition-: 0.7s all ease-in-out; 
    -webkit-transition: 0.7s all ease-in-out; 
    -moz-transition: 0.7s all ease-in-out; 
    -o-transition: 0.7s all ease-in-out; 
    -ms-transition: 0.7s all ease-in-out; 
    padding: 50px; 
    overflow: hidden; }

.l4v1cries { 
    height: 250px; 
    width: 250px; 
    text-align: justify; 
    font-family: times; 
    font-size: 9px; 
    letter-spacing: 1px; 
    line-height: 150%; 
    text-transform: lowecase; 
    overflow: auto; }

.l4v1cries::-webkit-scrollbar { 
    display: none; }

#l4v1:hover .l4v1criess { 
    bottom: 350px; }

.l4v1y { 
    width: 65px; 
    height: 65px; 
    transform: rotate(-45deg);  
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    -o-transform: rotate(-45deg); 
    -ms-transform: rotate(-45deg); 
    transition-: 0.6s all ease-in-out; 
    -webkit-transition: 0.6s all ease-in-out; 
    -moz-transition: 0.6s all ease-in-out; 
    -o-transition: 0.6s all ease-in-out; 
    -ms-transition: 0.6s all ease-in-out; 
    border: 2px solid #fff; 
    margin: -78px 0px 0px 60px; 
    overflow: hidden; }

.l4v1yy { 
    width: 110px; 
    height: 110px; 
    transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);   
    -moz-transform: rotate(45deg); 
    -o-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    margin: -22px; }

.l4v1yy img { 
    width: 100px; 
    height: 100px; }

































